@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Girassol', cursive;
    scroll-behavior: smooth;
   
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    background: rgb(80, 77, 77);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);

}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 300;
    color: rgb(255, 0, 221) !important;

}

#menu a{
    color: white;
    padding:0px 20px 2px 20px;
    border-bottom: 1px solid transparent;
}
#menu a:hover{
   border-bottom: 1px solid rgb(255, 0, 221);
 
}
#menu button{
   
   background: rgb(255, 0, 221);
   width: 5rem;
   color: white;
   border-radius: 20px;
}
section{
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

/* Home */
#home{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url(img4.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
   
  
}
#home h1{
    font-size: 100px;
    color: white;
    letter-spacing: 7px;
    font-weight: 300;
   
}
#home span{
    color:rgb(255, 0, 221) ;
}
#home p{
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    font-weight: 00;
    
}
/* About */
#about{
    background:rgba(255, 0, 221,.5) ;
    padding-top: 80px;

}
#about img{
   width: 75%;
   height:90% ;
   margin-left: 70px;}


/*_________----_----------------- Dishes */
#dish {
    background: #e5e5e5;
    padding-top: 80px;
}
#dish .dis {
    font-size: 50px;
    letter-spacing: 15px;
    font-weight: 700;
}
#dish .card img{
    height: 200px;
    transition: 1s;
    width: 100%;
    padding: 10px;
}

#dish .inner{
    overflow: hidden;

}

#dish .card img:hover{
    transform: scale(1.5);
    transition: 1s;

}

/*-------------- rooms----------- */

#room .dis {
    font-size: 50px;
    letter-spacing: 15px;
    font-weight: 700;
}

#room{
    background: #e5e5e5;

}
#room img{
    height: 200px;
    transition: 1s;
    width: 100%;
    padding: 15px;
}
#room .card{
    /* width: 250px;
    height: 250px; */
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,0.3),
                inset 4px 4px 10px white;
    border-radius: 20px !important;    
    overflow: hidden;       
    justify-content: center;
    align-items: center; 
    margin: 20px 60px;
    transition: .5s;
}
#room a{
    background-color: rgb(255, 0, 221);
    border-radius: 20px;
}

 
#room .card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3),
                inset -4px -4px 10px white;
 
}
footer a{
    text-decoration: none;
    color: black;
}
footer{
    background-color:#e5e5e5;
    color: black;
    font-size: 15px;
}
/* }


#dish .card{
    width: 300px;
    height: 350px;
}
#dish img{
    padding: 5px;
    width: 100%;
    height: 300px;
}
#dish img:hover{
    transform: scale(1.5);
    transition: 1s;
}
#dish .card{
    overflow: hidden;
} */
/* .navbar-nav li{
    padding: 0px 20px 0px 20px;
    color: white;
 
}
.navbar-nav li:hover{
    border-bottom: 1px solid orange;
  
} */
